


/*Login Page css*/
.form_wrap{
  /*background-color: pink !important;*/
  padding: 20px 15px 30px 15px;
  background-color: #fff;
  color: #5f5f5f;
}

.form_head{
  position: relative;
}

.orSignUp{
  position: absolute;
  top: 5%;
  right: 5%;
}

#loginForm{
  background-color: #004A7C;
  height: auto;
  padding: 100px 10px 80px 10px;  
}


/*Iphone 4 adn 5*/
@media only screen and (min-device-width: 320px) and (max-device-width: 325px){
    #loginForm{
      height: 50em !important;
    }
    
    .modal-footer{
      margin-top: 0% !important;
    }
    
    .otpResend{
      margin-top: 10px;
      margin-bottom: 10px;
    }
}

/*Rest Mobiles*/
@media only screen  and (min-device-width: 320px)  and (max-device-width: 500px){
  #loginForm{
    height: 100%;
  }
  
  .modal-footer{
    margin-top: 0% !important;
  }
  
  .otpResend{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*Ipad*/
@media only screen and (min-device-width: 768px){
    #loginForm{
      height: 100%;
    }
}


/*Ipad pro and rest laptops*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1500px) and (-webkit-min-device-pixel-ratio: 1) { 
  #loginForm{
    height: 100%;
  }
  
}

@-moz-document url-prefix() { 
  #loginForm{
    height: 120%;
  }
}
