<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style_tick.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body>
  	<div class="wrapper">
  	
  		<div class="top_bar">
  			<div class="container-fluid">
  				<ul class="list-inline pull-right clearfix">
  					<li><a href="#">Logout</a></li>
				</ul>  				
  			</div>
  		</div>
  		
  		<div class="navigation">  			
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				   <a class="navbar-brand" href="#"><img src="images/auxesis.png" width="150px;" alt=""></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="reserve.html">Reserve</a></li>
					<li><a href="payment.html">Payment</a></li>
					<li><a href="#">Developer</a></li>
				  </ul>
				</div><!-- /.navbar-collapse -->
			  </div>
			</nav>  			
  		</div>
  		
  		<div class="main_container">
  			<div class="container"> 
  				<h2>LATEST BLOCKS</h2>
  				<section class="panel">
           			<div class="panel-body">
						<section id="no-more-tables">
							<table class="table table-striped cf ticket_table">
								<thead class="cf">
									<tr>
										<th>Height</th>							
										<th>Age</th>
										<th>Transactions</th>
										<th>Total Sent</th>
										<th>Relayed By</th>
										<th>Size (kB)</th>
									</tr>
								</thead>
								<tbody>
									<tr>   
										<td data-title="Height"><a href="#">461804</a></td>                       
										<td data-title="Age">1 minute</td>
										<td class="numeric" data-title="Transactions">1734</td>
										<td class="numeric" data-title="Total Sent">15,318.34916136 BTC</td>
										<td class="numeric" data-title="Relayed By"><a href="#">F2Pool</a></td>
										<td class="numeric" data-title="Size (kB)">999.9</td>
									</tr>	
									<tr>   
										<td data-title="Height"><a href="#">461804</a></td>                       
										<td data-title="Age">1 minute</td>
										<td class="numeric" data-title="Transactions">1734</td>
										<td class="numeric" data-title="Total Sent">17,708.81 BTC</td>
										<td class="numeric" data-title="Relayed By"><a href="#">F2Pool</a></td>
										<td class="numeric" data-title="Size (kB)">999.9</td>
										
									</tr>	
									<tr>   
										<td data-title="Height"><a href="#">461804</a></td>                       
										<td data-title="Age">1 minute</td>
										<td class="numeric" data-title="Transactions">1734</td>
										<td class="numeric" data-title="Total Sent">17,708.81 BTC</td>
										<td class="numeric" data-title="Relayed By"><a href="#">F2Pool</a></td>
										<td class="numeric" data-title="Size (kB)">999.9</td>										
									</tr>	
									<tr>   
										<td data-title="Height"><a href="#">461804</a></td>                       
										<td data-title="Age">1 minute</td>
										<td class="numeric" data-title="Transactions">1734</td>
										<td class="numeric" data-title="Total Sent">17,708.81 BTC</td>
										<td class="numeric" data-title="Relayed By"><a href="#">F2Pool</a></td>
										<td class="numeric" data-title="Size (kB)">999.9</td>										
									</tr>
								</tbody>
							</table>
						</section>
            		</div>
				</section>
				<br>
<br>

				<div class="row">
					<div class="col-md-6">
						<h2>NEW TO BITCOIN?</h2>
						<section class="new_bitcoin">							
							<p>Like paper money and gold before it, bitcoin is a currency that allows parties to exchange value. Unlike it predecessors, bitcoin is digital and decentralized. For the first time in history, people can exchange value without intermediaries which translates to greater control of funds and lower fees.</p>
							<div class="row">
								<div class="col-md-4">
									<a class="btn btn-default" href="#" role="button">BUY BITCOIN <i class="fa fa-chevron-right"></i></a>
								</div>
								<div class="col-md-4">
									<a class="btn btn-default" href="#" role="button">LEARN MORE <i class="fa fa-chevron-right"></i></a>
								</div>
								<div class="col-md-4">
									<a class="btn btn-default" href="#" role="button">GET A FREE WALLET <i class="fa fa-chevron-right"></i></a>
								</div>	
							</div>							  
							
						</section>
					</div>
					<div class="col-md-6">
						
						<section class="panel search_section" style="padding-top:0">
							<div class="col-md-12"><h2>SEARCH</h2></div>
							<div class="panel-body">
								<p style="font-style: italic">You may enter a block height, address, block hash, transaction hash, hash160, or ipv4 address...</p>
								<div class="form-inline">
								  <div class="form-group">										
									<input type="text" class="form-control" placeholder="Address / ip / SHA hash">
									<button type="submit" class="btn btn-default">Search</button>
								  </div>
								</div>					  
							</div>
						</section>
					</div>
				</div>
  			</div>
  		</div>
  		<div class="clearfix"></div>
  		<div class="main_container_other">
  			<div class="container">
  				<div class="row">
  					<div class="col-md-6">
  						<h2>TRANSACTIONS PER DAY</h2>
  						<p>The number of daily Bitcoin transactions.</p>
  						<div data-module="ui/Demo" data-conditions="element:{was visible}">
  							<div id="preset-flip-donations">

							<style>

								#preset-flip-donations  {
									color:#8d8f8e;
									margin: 30px 0;
								}

								/* start from small screens */
								#preset-flip-donations .tick {
									font-size:2em;
								}

								#preset-flip-donations .tick-flip-panel {
									background-color:#434949;
								}

								/* define sizes for bigger screens */
								@media (min-width:25em) {

									#preset-flip-donations .tick {
										font-size:3em;
									}

								}

							</style>
							<div class="tick"
								 data-value="237072"
								 data-did-init="handleTickInitForPreset_flip_donations"
								 data-did-update="handleTickUpdateForPreset_flip_donations">

								<div data-layout="horizontal center"
									 data-value-mapping="indexes"
									 data-transform="arrive(.2) -> round -> split -> delay(rtl, 100, 150)">
									
									<span data-view="flip">2</span>
									<span data-view="flip">3</span>
									
									<span data-view="flip">7</span>
									<span data-view="flip">0</span>
									<span data-view="flip">7</span>							
									<span data-view="flip">2</span>	
								</div>
							</div>
						</div>
						</div>
						<script>        
							function handleTickInitForPreset_flip_donations(tick) {
								Tick.helper.interval(function(){
									tick.value += 1;
								}, 3000);
							}
						</script>

						<p>Transactions since Thu Apr 13 2017 2:48:23 PM.</p>
						<p style="font-size:25px; margin-bottom: 20px;  margin-top: 30px;">Market Cap: <a href="#">$19,349,213,565.00</a></p>
						<p style="font-size:25px;">Hash Rate: <a href="#">3,287,972.01 TH/s</a></p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<!--<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.js"></script>-->
	
	<script src="js/tick.core.polyfill.js"></script>
	<script src="js/require.js" data-main="js/main.min"></script>
	
  </body>
</html>