<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper container-fluid" id="main_container">
    {% include 'search.html' %}
    <!--<div class="top_bar">-->
        <!--<div class="container-fluid">-->
            <!--<ul class="list-inline pull-right clearfix">-->
                <!--<li><input type="text" class="form-control" id="user_input" name="user_input"-->
                           <!--placeholder="Search.."></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <div class="loading" style="display:none" id="loading"><img src="/static/gif/default.gif"
                                                                style="width:60%;height: 60%; padding-left: 30%"/></div>

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/static/images/favicon.ico" class="img-responsive" alt="" style="height:50px;width:100px"></a>
    </div>
    {% if 'no_data' in context %}
    <div class="text-center">
        <br><br><br><h2>No such block.</h2>
    </div>
    {% else %}
    <div class="main_container">

        <div class="container">
            <h2>Block #{{ context.height }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <section class="panel">
                        <div class="panel-body">
                            <section id="no-more-tables3">
                                <table class="table table-striped cf ticket_table">
                                    <thead class="cf">
                                    <tr>
                                        <th colspan="2">Summary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td data-title="Summary">Number of transactions</td>
                                        <td data-title="">{{ context.no_of_tx }}</td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Output Total</td>
                                        <td data-title="">{{ context.output_total }} MAS</td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Height</td>
                                        <td data-title=""><a href="/explorer/get_block_hash/{{ context.height }}">{{
                                            context.height
                                            }}</a> (Main Chain)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Timestamp</td>
                                        <td data-title="">{{ context.block_time }}</td>
                                    </tr>

                                    <tr>
                                        <td data-title="Summary">Received Time</td>
                                        <td data-title="">{{ context.block_time }}</td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Difficulty</td>
                                        <td data-title="">{{ context.difficulty }}</td>
                                    </tr>
                                    <tr>
                                        <td data-title="Summary">Bits</td>
                                        <td data-title="">{{ context.bits }}</td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Size</td>
                                        <td data-title="">{{ context.size }} KB</td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Version</td>
                                        <td data-title="">{{ context.version }}</td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Nonce</td>
                                        <td data-title="">{{ context.nonce }}</td>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td data-title="">Block Reward</td>-->
                                        <!--<td data-title="">{{ context.mining_reward }}</td>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="panel">
                        <div class="panel-body">
                            <section id="no-more-tables2">
                                <table class="table table-striped cf ticket_table">
                                    <thead class="cf">
                                    <tr>
                                        <th colspan="2">Hashes</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td width="120" data-title="Transactions">Hash</td>
                                        <td data-title=""><a href="/explorer/get_block_info/{{ context.hash }}">{{ context.hash
                                            }}</a></td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Previous Block</td>
                                        <td data-title=""><a href="/explorer/get_block_info/{{ context.previousblockhash }}">{{
                                            context.previousblockhash }}</a></td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Next Block(s)</td>
                                        <td data-title=""><a href="/explorer/get_block_info/{{ context.nextblockhash }}">{{
                                            context.nextblockhash }}</a></td>
                                    </tr>
                                    <tr>
                                        <td data-title="">Merkle Root</td>
                                        <td data-title="">{{ context.merkleroot }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Transactions</h2>
        {% for transaction in context.tx %}
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-11">
                    <a href="/explorer/get_transaction_info/{{ transaction }}">{{ transaction }}</a><br>
                </div>
                <div class="col-sm-1">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" onclick="get_transaction_info('{{ transaction }}')"
                                id="get_transation_info_btn_{{ transaction }}">
                            <!--Action-->
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <!--<div id='transaction_info_div_{{ transaction }}'>-->
                <table id="input_addresses_{{transaction}}" class="table" style="background: #ffffff">

                </table>
                <!--</div>-->
            </div>
            <div class="col-sm-2">
                <img src="/static/images/arrow_right_green.png" id="green_arrow_image_{{transaction}}" style="display: none">
            </div>
            <div class="col-sm-5">
                <table id="output_addresses_{{transaction}}" class="table"  style="background: #ffffff">

                </table>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div id="data_container" style="display: none"></div>
</div>

<!-- Small modal -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-1.11.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
    function isPositiveInteger(n) {
        return 0 === n % (!isNaN(parseFloat(n)) && 0 <= ~~n);
    }
    $(document).ready(function () {
        document.title = '{{context.hash}} | Block | Auxledger';
        $(document).ajaxStart(function () {
            $("#loading").show();
        }).ajaxStop(function () {
            $("#loading").hide();
        });

        $("#user_input").on("keydown", function search(e) {
            console.log('aaa');
            if (e.keyCode == 13) {
//                alert('aa');
                var user_input = $(this).val();
                var block_flag = false;
                console.log('uuu' + user_input);
                if (user_input.length == 64) {
                    for (var i = 0; i < 7; i++) {
                        console.log('iii' + user_input[i]);
                        if (user_input[i] == '0') {
                            block_flag = true;
                        }
                        else {
                            block_flag = false;
                            break;
                        }
                    }
                    if (block_flag == true) {
                        var url = '/explorer/get_block_info/' + user_input;
                        console.log('redirecting to::',url);
                        $('#search_form').attr('action',url).submit();
                    }
                    else {
                        var url = '/explorer/get_transaction_info/' + user_input;
                        $('#search_form').attr('action',url).submit();
                    }

                }
                else if (user_input.length == 38 || user_input.length === 34) {
                    var url = '/explorer/get_address_info/' + user_input;
                    $('#search_form').attr('action',url).submit();
                }

                else {
                    if (isPositiveInteger(user_input) == true) {
                        var url = '/explorer/get_block_hash/' + user_input;
                        $('#search_form').attr('action',url).submit();
                    }
                    else {
                        $("#panel-danger").css('display', 'block');
                    }
                }
            }
        });
    });

    function get_transaction_info(txid) {
        var url = '/explorer/api_get_transaction_info/' + txid;
        $.get(url, {}, function (result) {
            var btn_id = '#get_transation_info_btn_' + txid;
            var div_id = '#transaction_info_div_' + txid;
            var input_address_div_id = '#input_addresses_' + txid;
            var output_address_div_id = '#output_addresses_' + txid;
            var green_arrow_image_id = '#green_arrow_image_' + txid;
            $(btn_id).css('display', 'none');
            $(div_id).text(result);
            var vins = result['vin_address'];
            var vin_values = result['vin_inputs'];
            var vouts = result['vout_address'];
            var vout_values = result['vout_outputs'];
            if (vins.length == 0){
                $(input_address_div_id).append('<tr><td>Newly generated coins.</td></tr>');
            }
            else{
                for(var i=0;i<vins.length;i++){
                    console.log('input address:::',i,vins[i]);
                    $(input_address_div_id).append('<tr><td><a href="/explorer/get_address_info/' + vins[i] + '">' + vins[i] + '</td><td>' + vin_values[i] + '</td></tr>');
                }
            }
            $(green_arrow_image_id).css('display','block');
            for(var i=0;i<vouts.length;i++){
                console.log('output address:::',i,vouts[i]);
                $(output_address_div_id).append('<tr><td><a href="/explorer/get_address_info/' + vouts[i] + '">' + vouts[i] + '</td><td>' + vout_values[i] + '</td></tr>');
            }
//            for(var i=0;i<)
        });
    }

</script>
</html>